# Adopti — Variables de entorno para docker-compose
# Copiar a .env y rellenar los valores

# ── PostgreSQL (pets-service) ──
POSTGRES_PETS_DB=petsdb
POSTGRES_PETS_USER=postgres
POSTGRES_PETS_PASSWORD=__SET_IN_RUNTIME__

# ── PostgreSQL (notification-service) ──
POSTGRES_NOTIF_DB=notificationsdb
POSTGRES_NOTIF_USER=postgres
POSTGRES_NOTIF_PASSWORD=__SET_IN_RUNTIME__

# ── RabbitMQ ──
RABBITMQ_USER=adopti
RABBITMQ_PASSWORD=__SET_IN_RUNTIME__

# ── Elasticsearch ──
ELASTIC_PASSWORD=__SET_IN_RUNTIME__
